extends layout 
block content 
    h1.text-center About Chib Link 
    .text-left 
        h2 Who's Chib Link?
        p Chib Link is a company founded by Shedeur B and owned by Chibs Inc.. Chib Link has a total of 2 employees.
    .text-right 
        h2 What's Chib Link?
        p Chib Link is a website that creates link pages for people around the world.
    .text-left 
        h2 Where's Chib Link?
        p Chib Link is based in The Philippines, just like its parent company, Chibs Inc..
    .text-right
        h2 When's Chib Link?
        p Chib Link was officially founded on August 10, 2022. And released its first version on (insert date)
    .text-left
        h2 Why Chib Link?
        p Because Chib Link is better.
    .text-right
        h2 How Chib Link?
        p Chib Link is powered by Node Js and Express Js, with information being stored on MongoDB. Also, Chib Link is doing pretty okay! 
    .text-left
        h2 Our parent 
        p Chib Link's parent, Chibs Inc., owns all assets of Chib Link, including all stocks, employees, and source code.