extends layout 
block content 
    .text-center.account-main 
        a.btn.btn-secondary(href="/account/email") Change Email 
        a.btn.btn-secondary(href="/account/username") Change Username 
        a.btn.btn-secondary(href="/account/password") Change Password 
        a.btn.btn-danger(href="/account/delete") Delete Account