extends layout
block content
    h1.text-center.homeh1 Chib Link
    .text-left 
        h2 Make link pages in minutes 
        p With user friendly UI, link pages can easily be made within minutes, maybe even seconds if you're bold enough.
    .text-right 
        h2 Link in Bio 
        p Link your page with a custom URL for better remembering.
    .text-left 
        h2 Claim your link now! 
        a(href='/signup').btn.btn-primary Sign up now! 
        p Get a chiblink.herokuapp.com/your_name_here link now!