extends layout 
block content 
    h1 Terms of Service 
    h2 Breaking any of the following will result in the suspension of you account.
    ul 
        li Adding malicious/illegal links 
        li yeah thats pretty much it